#!/usr/bin/make -f

export DH_VERBOSE = 1
MAKEFLAGS += --no-print-directory

# use node provided by nvm if available. Remove for correct debian policy.
# I had to make a compatibility to allow `nodejs` to be provided with help of `nvm` since my distro didn't provide a recent enough version. Only using official apt sources would be cleaner.
NVM_BIN = $(shell bash -c ". $(HOME)/.nvm/nvm.sh; printenv NVM_BIN" 2>/dev/null)
ifneq ($(NVM_BIN), "")
export PATH := $(NVM_BIN):$(PATH)
endif

%:
	dh $@

override_dh_auto_build:
# install dependencies
	yarnpkg install --frozen-lockfile

# Build
	yarnpkg build

	dh_auto_build

override_dh_auto_install:
	mv dist/assets/config.yml.dist dist/assets/config.yml

	dh_auto_install
